/*

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

*/


@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
}

.full-screen {
  padding: 8rem 0;
}
/* image Hero */
.image-hero {
  width: 30%;
  margin-bottom: 10px;
  transition: 0.30;
  -webkit-transition: 0.30;
  -moz-transition: 00.30;
  -ms-transition: 0.30;
  -o-transition: 0.30;
}
.image-hero:hover {
  transition: 0.70s;
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* Client text */
.Client-text {
  border-bottom: 1px solid rgb(190, 190, 190); */
  /* border: 1.5px solid #d0d0d2; */
  max-width: 190px;
  height: 30px;
}
/* page list */
.Pagelist{
  border-bottom: 1px solid rgb(190, 190, 190); */

}
.Pagelist-text {
  max-width: 190px;
  height: 30px;
}
.page-list {
    /* border: 1.5px solid #d0d0d2; */
    margin-top: 20px;
    margin-right: 10px;
    
  }
.page-text {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
  margin-top: 30px;
}
.page-text:hover{
  color: #ffc200;
}
.page-text.page-text-bg {
  background: #474559;
  color: #ffffff;
}
.page-text.page-text-bg:hover {
  background: #ffc200;
  color: #ffffff !important;
}
.fa-quote-left {
  padding-right: 6px;
}
.fa-briefcase {
  padding-right: 6px;
}
.fa-magic {
  padding-right: 6px;
}
.fa-user-circle {
  padding-right: 6px;
}
.fa-file-text {
  padding-right: 6px;
}
.fa-github {
  padding-right: 6px;
}
.fa-envelope {
  padding-right: 6px;
}
.fa-dribbble {
  padding-right: 6px;
}
.fa-youtube-play {
  padding-right: 6px;
}
.page-list-btn {
  display: flex;
  margin: auto;
  flex-direction: row;
}
/* flag */
.flag {
  display: block;
  margin: auto;
  flex-direction: row;
  margin-top: 50px;
}
.wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 300px;
  padding: 10px 0;
  margin: 0 20px;
  border-radius: 10px;
  margin-top: 30px;


  /* background: rgba(105, 105, 105, 0.5); */
}
.wrapper2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 300px;
  padding: 10px 0;
  margin: 0 20px;
  border-radius: 10px;


  /* background: rgba(105, 105, 105, 0.5); */
}
.wrapper3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 300px;
  padding: 10px 0;
  margin: 0 20px;
  border-radius: 10px;
  margin-bottom: 30px;


  /* background: rgba(105, 105, 105, 0.5); */
}

.holder{
  position: relative;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  width: 1.5em;
  padding: 5px;
  border-radius: 10%;
  font-size: 2em;
  
  transition: all 0.5s ease;
}

.tooltip{
  position: absolute;
  padding: 5px 20px;
  font-weight: bold;
  top: 0%;
  left: 0%;
  transform: translate(-25%, -35px);
  font-size: 1em;
  border-radius: 50px;
  color: #5b5b5b;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
}

.tooltip::before{
  content: "";
  display: flex;
  position: absolute;
  width: 15px;
  height: 15px;
  transform: translate(1.3rem, 15px) rotate(45deg);
  z-index: -2;
  outline: none;
  border: none;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.UEA .tooltip::before,
.Switzerland .tooltip::before{
  transform: translate(1.7rem, 15px) rotate(45deg);
}

.Canada .tooltip::before{
  transform: translate( 1.6rem, 15px) rotate(45deg);
}

.icon:hover ~ .tooltip{
  transform: translate(-25%, -60px) ;
  opacity: 1;
}

.icon:hover{
  color: #FFF;
}

.UEA .icon:hover,
.UEA .icon:hover ~ .tooltip,
.UEA .icon:hover ~ .tooltip::before{
  background: #eee;
}

.Australia .icon:hover,
.Australia .icon:hover ~ .tooltip,
.Australia .icon:hover ~ .tooltip::before{
  background: #eee;
}

.Bulgaria .icon:hover,
.Bulgaria .icon:hover ~ .tooltip,
.Bulgaria .icon:hover ~ .tooltip::before{
  background: #eee;
}

.Canada .icon:hover ~ .tooltip,
.Canada .icon:hover ~ .tooltip::before,
.Canada .icon:hover{
  background: #eee;
}

.Switzerland .icon:hover,
.Switzerland .icon:hover ~ .tooltip,
.Switzerland .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Germany .icon:hover,
.Germany .icon:hover ~ .tooltip,
.Germany .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Spain .icon:hover,
.Spain .icon:hover ~ .tooltip,
.Spain .icon:hover ~ .tooltip::before{
  background: #eee;
}
.France .icon:hover,
.France .icon:hover ~ .tooltip,
.Spain .icon:hover ~ .tooltip::before{
  background: #eee;
}
.UK .icon:hover,
.UK .icon:hover ~ .tooltip,
.UK .icon:hover ~ .tooltip::before{
  background: #eee;
}
.India .icon:hover,
.India .icon:hover ~ .tooltip,
.India .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Italy .icon:hover,
.Italy .icon:hover ~ .tooltip,
.Italy .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Malaysia .icon:hover,
.Malaysia .icon:hover ~ .tooltip,
.Malaysia .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Netherlands .icon:hover,
.Netherlands .icon:hover ~ .tooltip,
.Netherlands .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Norway .icon:hover,
.Norway .icon:hover ~ .tooltip,
.Norway .icon:hover ~ .tooltip::before{
  background: #eee;
}
.New_Zealand .icon:hover,
.New_Zealand .icon:hover ~ .tooltip,
.New_Zealand .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Panama .icon:hover,
.Panama .icon:hover ~ .tooltip,
.Panama .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Pakistan .icon:hover,
.Pakistan .icon:hover ~ .tooltip,
.Pakistan .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Romania .icon:hover,
.Romania .icon:hover ~ .tooltip,
.Romania .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Saudi .icon:hover,
.Saudi .icon:hover ~ .tooltip,
.Saudi .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Sweden .icon:hover,
.Sweden .icon:hover ~ .tooltip,
.Sweden .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Singapore .icon:hover,
.Singapore .icon:hover ~ .tooltip,
.Singapore .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Ukraine .icon:hover,
.Ukraine .icon:hover ~ .tooltip,
.Ukraine .icon:hover ~ .tooltip::before{
  background: #eee;
}
.US .icon:hover,
.US .icon:hover ~ .tooltip,
.US .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Indonesia .icon:hover,
.Indonesia .icon:hover ~ .tooltip,
.Indonesia .icon:hover ~ .tooltip::before{
  background: #eee;
}
.Japan .icon:hover,
.Japan .icon:hover ~ .tooltip,
.Japan .icon:hover ~ .tooltip::before{
  background: #eee;
}


/* end here */
.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #c79900 !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 18px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}

.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
  margin-top: 30px;
}
.custom-btn:hover {
  color: #ffc200;
}
.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #ffc200;
  color: #ffffff !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 290px;
  position: relative;
}

.animated-item {
  color: #ffc200;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.color-mode {
  font-weight: bold;
  cursor: pointer;
}

.color-mode-icon {
  position: relative;
  right: 6px;
}
.color-mode-icon:after {
  font-family: 'unicons';
  content: '\ea9f';
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}
.color-mode-icon.active:after {
  font-family: 'unicons';
  content: '\eb65';
  font-size: 30px;
  color: #ffffff;
}

.dark-mode {
  background: #0c0c0d;
}
.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
}
.dark-mode .navbar[class*="headroom--not-top"] {
  background: #0c0c0d;
  border-bottom: 1px solid #1f1f1f;
}
.dark-mode .small-text {
  background: #0d0c15;
  color: #ffffff;
}
.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}
.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}


