@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', Courier, monospace;
}

/* Apply this CSS method to truncate article descriptions */
.article__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}